body {
    background-color: rgb(204, 203, 211);
    text-align: center;
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0px;
}
li {
    /*Centering the list drove me absolutely insane until I realized the hidden ul dots*/
    text-align: center;
    margin-right: 40px;
}
.beans {
    color:coral;
}
.axolotl {
    font-family: fantasy;
}
.secret {
    opacity: 0.5;
}
table, th, td {
    border: 1px solid grey;
}
table {
    margin: auto;
}
.cabbage {
    color: chartreuse;
}
h3 {
    color:blue
}
h4.axolotl{
    background-image: url("https://i.imgur.com/kub8SCD.jpeg");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    margin: 30px
    
}