body{
    background-color: whitesmoke;
}
.navBar {
    justify-content: center;
    text-align: center;
    list-style-type: none;
    background-color:lightblue;
    width: 79%;
    height: 20px;
    margin: 0 auto;
}
.navLink {
    text-align: center;
    display: inline;
    margin-right: 5%;
    margin-left: 5%;
}
.hero {
    width: 80%;
    height: 400px;
    position: fixed;
    /* Image has completely refused to load now, no matter what I try */
    /* As a result, the entire .hero box has committed the perish, APPARENTLY.  */
    /* I need help */
    background-image: url("unnamed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .one{
    /* In theory, this should be in the right spot. */
    position: relative;
    top: 200px;
    right: 100%;
}
.hero .two{
    /* In theory, this should be in the right spot. */
    position: relative;
    top: 220px;
    right: 100%;
}
.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px;
    flex-wrap: wrap;
    
}
.card {
    width: 30%;
    height: 300px;
    background-color: #eeeeee;
    margin: 30px 0px;
}
.cards .card .name{
    position: relative;
    bottom: 22px;
}
.cards .card .cost {
    position: relative;
    left: 170px;
    bottom: 54px;
}
.cards .card .descriptor {
    position: relative;
    display: inline;
    font-size: 10px;
    text-align: left;
    right: 40px;
    bottom: 70px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px;
    flex-wrap: wrap;
    background-color: #eeeeee;
    width: 80%;
    height: 270px
}
.bottonNav {
    display: flex;
    flex-direction: column;
}
.bottom .logo{
    display: inline-block;
    width: 33.33%; 
    vertical-align: top;
}
.bottom .logo .logoimg{
    position: relative;
    height: 135px;
    width: 135px;
}
