* {
    border: 5px black
}
body{
    background-color: whitesmoke;
}
.navBar {
    justify-content: center;
    text-align: center;
    list-style-type: none;
    background-color:lightblue;
    width: 80%;
    height: 20px;
    margin: 0 auto;
}
.navLink {
    text-align: center;
    display: inline;
    margin-right: 7%;
    margin-left: 7%;
}
.banner {
    background-image: url("./banner.png");
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-flow: column;
    align-items: end;
    justify-content: center;
    width: 80%;
    height: 1000px;
    margin: 0 auto;
}
.bannerh1, .bannerh2 {
    margin-right: 2%;
}
.bannerh1 {
    color: #92b2ba;
    font-size: 700%;
    margin-bottom: 0px;
}
.bannerh2 {
    background-color: whitesmoke;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #f0a8bb;
}

